

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div>
    <h2 align="center">Выберите категорию товара</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="wrap">
                    <h3 align="center">Фотоаппараты</h3>
                    <img style="margin-left: 5%" src="http://i1.rozetka.ua/goods/3029/canon_eos_600d_18_55_of_images_3029417.jpg" alt="Alternate Text"/>
                    <a style="display: block; text-align: center; margin: 10px;" class="btn btn-default" href="/Фотокамера">Перейти</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrap">
                    <h3 align="center">Объективы</h3>
                    <img style="margin-left: 5%" src="http://i1.rozetka.ua/goods/3175/nikkor_50mm_f1.8g_af_s_images_3175244.jpg" alt="Alternate Text" />
                    <a style="display: block; text-align: center; margin: 10px;" class="btn btn-default" href="/Объектив">Перейти</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrap">
                    <h3 align="center">Вспышки</h3>
                    <img style="margin-left: 5%" src="http://i2.rozetka.ua/goods/9755/nissin_ni-di600n_images_9755935.jpg" alt="Alternate Text" />
                    <a style="display: block; text-align: center; margin: 10px;" class="btn btn-default" href="/Вспышка">Перейти</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrap">
                    <h3 align="center">Аккумуляторы</h3>
                    <img style="margin-left: 5%" src="http://i2.rozetka.ua/goods/455655/extra_digital_dv00dv1100_images_455655222.jpg" alt="Alternate Text" />
                    <a style="display: block; text-align: center; margin: 10px;" class="btn btn-default" href="/Объектив">Перейти</a>
                </div>
            </div>
       </div>
    </div>
</div>